{
  "host_certificate" : "conf/net/certificates/upc-individual.crt",
  "chain_certificate" : "conf/net/certificates/upc-individual.crt",
  "private_key" : "conf/net/certificates/upc-individual.key"
}
