{
    "controller-ip" : "https://127.0.1.1",
    "_controller_comment": "The controller-ip is the IP address hosting the controller",
    "controller-port" : "4430",
    "tick-period" : "60",
    "pause-ticks" : "30",
    "kill-ticks" : "15",
    "swarm-port" : "54321",
    "machines" :
        {
            "https://127.0.1.1" : "1"
        },
    "_machines_comment" : "The machines keyword contains a dictionary of machines, where the mapping is machine base address -> numeric value, which can be any number used to represent the weight the machine should be given. The built in controller then attempts to assign containers proportional to that weight (so if 1 machine had a value \"2\" and another a value \"1\" the first should get twice as many containers as the second)",
    "register_user_endpoint" : "/profile/create",
    "user_cache_endpoint" : "/usercache/put",
    "spawn_usercloud_endpoint" : "/usercloud",
    "cloud_status_endpoint" : "/cloud/status",
    "cloud_key_endpoint" : "/cloud/key",
    "cloud_profile_endpoint" : "/cloud/profile",
    "cloud_aggregate_endpoint" : "/run/aggregate",
    "query_endpoint" : "/receive_query",
    "get_queriers_endpoint" : "/get_querier_addrs",
    "get_users_endpoint" : "/get_user_addrs"
}
