{
    "controller-ip" : "http://128.32.37.205",
    "controller-port" : "4041",
    "tick-period" : "60",
    "pause-ticks" : "30",
    "kill-ticks" : "15",
    "swarm-port" : "54321",
    "machines" :
        {
            "http://169.229.49.171" : "246",
            "http://169.229.49.172" : "139",
            "http://169.229.49.176" : "144",
            "http://169.229.49.179" : "92"
        },
    "_machines_comment" : "The machines keyword contains a dictionary of machines, where the mapping is machine base address -> Storage size, currently set to be in RAM. This is then used to proportion machines.",
    "register_user_endpoint" : "/profile/create",
    "user_cache_endpoint" : "/usercache/put",
    "spawn_usercloud_endpoint" : "/usercloud",
    "cloud_status_endpoint" : "/cloud/status",
    "cloud_key_endpoint" : "/cloud/key",
    "cloud_profile_endpoint" : "/cloud/profile",
    "cloud_aggregate_endpoint" : "/run/aggregate",
    "query_endpoint" : "/receive_query",
    "get_queriers_endpoint" : "/get_querier_addrs",
    "get_users_endpoint" : "/get_user_addrs"
}
